
.App {                      /* Refers to the text alignment schema throughout the web application*/

  text-align: center;       /* aligned text to the center*/

}

.App-logo {

  height: 40vmin;           /*Inserted the NiekAab Desal Logo to the different tabs in the web application*/

}

.spencers-class-selector {    /*Spencers first comment to better understand the git workflow*/
 color: green;
}

.App-header {
  background-color: #282c34;    /*Provides styling to the app header */
  
  min-height: 100vh;              /*Styles the height of the app header*/
  
  display: flex;
  
  flex-direction: column;         /*Refers to the display and alignment of items in the header*/
  
  align-items: center;
  
  justify-content: center;
  
  font-size: calc(10px + 2vmin);
  
  color: white;                 /*Keep consistency of color throughout the app*/
}

.App-link {
  color: #09d3ac;
}


p {
  color: #0a0a0a
}


label {               /*Worked on styling the label in the contact form to improve aesthetic of the application*/
   /*Modified and styled ocntent through alignment, width modification, and height modification*/


  flex-direction: row;

  justify-content: flex-end;

  text-align: center;

  width: 300px;

  line-height: 26px;

  margin-bottom: 10px;
}

.no {                   /*Fixed spacing in the contact form regarding the yes and no options for the customer question*/
  text-align: center;
  
  width: 100px;
}

.noo{
  width: 100px;         /*Fixed spacing for the other question regarding this as well*/
  
  text-align: center;
}

select {                /*Added styling to the drop down box to improve aesthetic. */

  width: 100%;          /*Added border, padding to the border, and changed the shadowing inside of the input field*/

  padding: 10px 10px;

  border: none;

  border-radius: 4px;

  background-color: #f1f1f1;
}

.questions {
  width: 30%;
}

.waterHand{           /*Added picture that met the clients requirements and specifications*/
  width: 100% 100%;

  height: 400px;

  background-size: 120% 120%;
  
  border-radius: 50%;
  
}
.waterHand:hover {      /*Added a hover feature that improved aesthetic*/
  box-shadow: 0 0 5px 5px rgba(0, 130, 186, 0.5);
  
   
}

.bottom-left {          /*Added styling to the information displayed about the images*/

  padding-left: 30px;   /*Added styling that worked with react components and our clients preexisting wordpress website*/

  padding-right: 30px;

  padding: 10px;

  text-align: center;
  
  background: #84e0ce;
  
  color: rgb(7, 7, 7);
  
  font-size: 30px;
  
  padding-top: 10px;
  
  padding-bottom: 10px;
  
  margin-bottom: 10px;
  
  margin-top:10px;
}

.bottom-right{          /*Styled part of the info displayed on the home page*/
  list-style-type: square;
  
  font-size: 15px;
  
  padding-bottom: 10px;
}

.bottom{        /*Added styling to the padding part of the image*/
  
  font-size: 15px;
  
  padding-bottom:10px;
}

.Drought{       /*Styled the image to maintain consistency throughout the applicatin*/
  
  height: 400px;
  
  margin-left: 10;
  
  border-radius: 50%;
}

.Drought:hover {    /*Added a hover feature to the image*/
  
  box-shadow: 0 0 5px 5px rgba(0, 130, 186, 0.5);
}

.droughtInfo{      /*Added styling to the droughtInfo image that was consistent with the other images*/
  
  padding-left: 30px;
  
  padding-right: 30px;
  
  padding: 10px;
  
  text-align: center;
  
  background: #84e0ce;
  
  color: rgb(7, 7, 7);
  
  font-size: 20px;
  
  padding-top: 10px;
  
  padding-bottom: 10px;
  
  margin-bottom: 10px;
  
  margin-top:10px;
}

.pipe{         /*Styled the image to maintain consistency*/
  
  height: 400px;
  
  margin-left: 10;
  
  border-radius: 50%;
}

.pipe:hover{    /*Added hover feature that would improve aesthetic*/
  
  box-shadow: 0 0 5px 5px rgba(0, 130, 186, 0.5);
}

.pipeInfo{
  
  padding-left: 30px;
  
  padding-right: 30px;
  
  padding: 10px;
  
  text-align: center;
  
  background: #84e0ce;
  
  color: rgb(7, 7, 7);
  
  font-size: 20px;
  
  padding-top: 10px;
  
  padding-bottom: 10px;
  
  margin-bottom: 10px;
  
  margin-top:10px;
}

.company {
  font-size:40px;
  
  text-align: center;
  
  font-weight: bold;
}

.navBar{
  /*display: block;*/
  
  padding: 50px;
  /*background-color: #a8ebdd;*/
  
  display: table;
  
  font-size: 15px;
  
  text-align: right;
  
  float: right;
}


.pagination {
  justify-content: center;
}
