
#signUpContainer {
	width: 300px;
	margin: 50px auto;
	background-color: #FFFFFF;
	border-radius: 8px;
	@include shadow-raised();
}

#signUpHeader {
	height: 60px;
	background-color: #7DB4B5;
	border-radius: 8px 8px 0 0;
	box-shadow: inset 0px -5px 0px 0px rgba(224,239,241, 0.75);
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear, background-color .35s ease;
}

#signUpHeaderTitle {
	text-align: center;
	padding-top: 13px;
	font-size: 28px;
	font-family: 'Damion';
	color: #FFFFFF;
}

#signUpFormContainer {
	padding: 20px 10px;
	position: relative;
}

#signUpForm {
	width: 90%;
	margin: 0px auto;
}

.signUpRow {
	margin: 15px 0;
	text-align: center;
}

.signUpRow {
	input[type=text], input[type=password] {
		width: 100%;
		height: 35px;
		box-sizing: border-box;
		border: none;
		font-size: 18px;
		padding-left: 2px;
		color: #7DB4B5;
		box-shadow: inset 0px -3px 0px 0px rgba(224,239,241, 0.75);
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear, background-color .35s ease;
		&:focus {
			box-shadow: inset 0px -3px 0px 0px rgba(125,180,181, 1);
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear, background-color .35s ease;
			outline: none;
		}
	}
}

.signUpRow input[type=checkbox] {
	display: none;
}

.signUpRow input[type=checkbox] + label::before {
	content: '';
  display: block;
  position: absolute;
	top: 0;
	left: 1px;
  height: 15px;
  width: 15px;
  border: 3px solid rgba(125,180,181, .85);
  border-radius: 5px;
  transition: background-color .2s;
}

.signUpRow input[type=checkbox]:checked + label::before {
	content: '\2713';
	font-size: 15px;
	line-height: 15px;
	color: rgba(125,180,181, .85);
}

.signUpRow input[type=checkbox] + label {
	font-size: 12px;
	position: relative;
	padding: 3px 0 0 30px;
	cursor: pointer;
}

.signUpRow button {
	width: 70%;
	height: 40px;
	border: 1px solid rgba(224,239,241, 0.75);
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0px -3px 0px 0px rgba(224,239,241, 0.75);
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear, background-color .35s ease;
	background-color: #7DB4B5;
	font-size: 18px;
	color: #FFFFFF;
	cursor: pointer;
	&:hover {
		background-color: rgba(125,180,181, .85);
	}
}