.search-bar{
    font-size:20px;
    width: 50%;
    border: 2px solid #aac9fa;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-bar:focus{
    border: solid #5991eb;
}

.news-header{
    background-color:   #84e0ce ;
}