.search-bar{
    font-size:20px;
    width: 50%;
    border: 2px solid #f0f1f2;
    -webkit-transition: border 1s; /* Safari prior 6.1 */
    transition: border 1s;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-bar:focus{
    border: 2px solid #84e0ce;
}

.news-header{
    background-color:   #84e0ce ;
}

.article-card{
    -webkit-transition: box-shadow 1s; /* Safari prior 6.1 */
    transition: box-shadow 1s;
}

.article-card:hover{
    box-shadow: 0 0 8px rgba(33,33,33,.2);
}
